jupyter_client==8.6.2
ipython==8.24.0
pure-eval==0.2.2
comm==0.2.2
executing==2.0.1
python-dateutil==2.9.0.post0
stack-data==0.6.3
typing_extensions==4.12.0
contourpy==1.2.1
parso==0.8.4
nest-asyncio==1.6.0
packaging==24.0
cycler==0.12.1
matplotlib-inline==0.1.7
fonttools==4.52.1
Pygments==2.18.0
debugpy==1.8.1
psutil==5.9.8
traitlets==5.14.3
exceptiongroup==1.2.1
prompt-toolkit==3.0.43
ipykernel==6.29.4
jedi==0.19.1
asttokens==2.4.1
wcwidth==0.2.13
jupyter_core==5.7.2
tornado==6.4
kiwisolver==1.4.5
pyzmq==26.0.3
gitdb==4.0.11
qiskit-ibm-provider==0.11.0
click==8.1.7
scs==3.2.7
qpalm==1.2.3
rich==13.9.2
exceptiongroup==1.2.2
flatbuffers==24.3.25
pyasn1-modules==0.2.8
highspy==1.8.0
pure_eval==0.2.3
opencv-python==4.10.0.84
GitPython==3.1.43
keras==3.6.0
qpsolvers==4.4.0
absl-py==2.1.0
seaborn==0.13.2
unicodedata2==15.1.0
qutip==5.0.4
blinker==1.6.2
fonttools==4.51.0
tensorflow-io-gcs-filesystem==0.37.1
parso==0.8.4
GPUtil==1.4.0
piqp==0.4.2
traitlets==5.14.3
networkx==3.4
networkx==3.3
PyQt5-sip==12.13.0
requests==2.32.3
jsonschema==4.23.0
torchmetrics==1.5.1
jax==0.4.34
google-auth-oauthlib==0.5.2
aiosignal==1.2.0
cryptography==41.0.3
pickleshare==0.7.5
pip==24.2
pandas==2.2.3
pandas==2.2.2
charset-normalizer==3.3.2
charset-normalizer==3.4.0
threadpoolctl==3.5.0
ptyprocess==0.7.0
cvxopt==1.3.2
websockets==14.1
sip==6.7.12
Jinja2==3.1.4
fastjsonschema==2.20.0
torchvision==0.20.1
toml==0.10.2
PyQt5==5.15.10
pytorchcv==0.0.64
pbr==6.1.0
pyparsing==3.1.2
requests-oauthlib==2.0.0
mistune==3.0.2
cmeel==0.53.3
platformdirs==4.3.6
scipy==1.14.1
scipy==1.13.1
mpmath==1.3.0
ibm-cloud-sdk-core==3.22.0
nbconvert==7.16.4
requests_ntlm==1.3.0
tensorflow-estimator==2.12.0
astunparse==1.6.3
pexpect==4.9.0
wandb==0.19.1
tornado==6.4.1
quadprog==0.1.12
markdown-it-py==3.0.0
torch==2.5.1
attrs==23.1.0
referencing==0.35.1
pydantic_core==2.23.4
Brotli==1.0.9
pyasn1==0.4.8
MarkupSafe==2.1.3
google-pasta==0.2.0
contourpy==1.2.0
typing_extensions==4.12.2
numpy==1.23.5
torchaudio==2.5.1
ipykernel==6.29.5
qdldl==0.1.7.post4
qiskit-ibm-runtime==0.33.2
stevedore==5.3.0
tensorboard-plugin-wit==1.8.1
tzdata==2024.2
tzdata==2023.3
PyYAML==6.0.2
nest_asyncio==1.6.0
annotated-types==0.7.0
debugpy==1.8.7
pyOpenSSL==23.2.0
lightning-utilities==0.11.8
idna==3.10
idna==3.7
daqp==0.5.1.post1
PennyLane==0.38.0
zipp==3.20.2
comm==0.2.2
Bottleneck==1.3.7
google-auth==2.29.0
importlib_metadata==8.5.0
pytz==2024.2
pytz==2024.1
Pygments==2.18.0
rsa==4.7.2
rpds-py==0.20.0
gdown==5.2.0
mkl_random==1.2.7
setproctitle==1.3.3
qpax==0.0.9
pyspnego==0.11.1
decorator==5.1.1
packaging==24.1
autoray==0.6.12
pydantic==2.9.2
kiwisolver==1.4.4
etils==1.10.0
pyzmq==26.2.0
Werkzeug==3.0.3
matplotlib==3.9.2
aiohappyeyeballs==2.4.0
symengine==0.13.0
optree==0.13.0
psutil==6.0.0
PySocks==1.7.1
jupyter_client==8.6.3
triton==3.1.0
jsonschema-specifications==2024.10.1
cffi==1.17.1
tqdm==4.66.5
tomli==2.0.1
toolz==1.0.0
osqp==0.6.7.post3
yarl==1.11.0
wrapt==1.14.1
namex==0.0.8
joblib==1.4.2
docker-pycreds==0.4.0
beautifulsoup4==4.12.3
nbclient==0.10.0
appdirs==1.4.4
h5py==3.11.0
jedi==0.19.1
chex==0.1.87
PyJWT==2.8.0
pycparser==2.21
aiohttp==3.10.5
proxsuite==0.6.7
websocket-client==1.8.0
mkl_fft==1.3.10
pylatexenc==2.10
sympy==1.13.2
autograd==1.7.0
setuptools==75.1.0
urllib3==2.2.3
cycler==0.11.0
libclang==18.1.1
certifi==2024.8.30
ply==3.11
filelock==3.13.1
tinycss2==1.3.0
clarabel==0.9.0
PennyLane_Lightning==0.38.0
ibm-platform-services==0.59.0
cachetools==5.5.0
cachetools==5.3.3
mdurl==0.1.2
multidict==6.0.4
matplotlib-inline==0.1.7
prompt_toolkit==3.0.48
six==1.16.0
rustworkx==0.15.1
tensorboard_data_server==0.7.0
gast==0.4.0
jupyterlab_pygments==0.3.0
gmpy2==2.1.2
defusedxml==0.7.1
dill==0.3.9
pillow==10.4.0
avalanche-lib==0.5.0
pandocfilters==1.5.1
sentry-sdk==2.17.0
bleach==6.1.0
scikit-learn==1.5.1
fpdf==1.7.2
tensorboard==2.17.1
ecos==2.0.14
stack-data==0.6.2
termcolor==2.1.0
oauthlib==3.2.2
numexpr==2.8.7
soupsieve==2.6
opt-einsum==3.3.0
frozenlist==1.4.0
qiskit-aer==0.15.1
optax==0.2.3
jupyter_core==5.7.2
wheel==0.44.0
python-dateutil==2.9.0.post0
fsspec==2024.10.0
async-timeout==4.0.3
qiskit==1.2.4
Keras-Preprocessing==1.1.2
mkl-service==2.4.0
ipython==8.28.0
jaxlib==0.4.34
grpcio==1.48.2
tensorflow==2.17.0
Markdown==3.4.1
nbformat==5.10.4
webencodings==0.5.1
asttokens==2.4.1
protobuf==3.20.3
executing==2.1.0
wcwidth==0.2.13
ml-dtypes==0.4.1
smmap==5.0.1
autocommand==2.2.2
platformdirs==4.2.2
wheel==0.43.0
inflect==7.3.1
backports.tarfile==1.2.0
zipp==3.19.2
typing_extensions==4.12.2
more-itertools==10.3.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
typeguard==4.3.0
tomli==2.0.1
packaging==24.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.text==3.12.1
importlib_resources==6.4.0
